 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

 body {
  width: 100vw;
  height: 100vh;

  font-family: 'Chakra Petch';
  overflow: hidden;
  background-image: linear-gradient(#0d324d, #1768AC);
 }
 
 .animation-container {
   font-weight: 500;
   letter-spacing: 5px;
   font-size: 8em;
   opacity: 1;
 }
 
 .animation-container svg {
   width: 90%;
   display: block;
   top: 50%;
   margin: -8% 0 0 5%;
   position: fixed;
 }
 
 .animation-container svg .text {
   width: 90%;
   fill: transparent;
   stroke-width: 1;
   stroke-linejoin: round;
   stroke-dasharray: 90,310;
   stroke-dashoffset: 0;
   -webkit-animation: text 8s infinite linear;
   animation: text 8s infinite linear;
 }
 
 .animation-container svg .text:nth-child(4n + 1) {
   stroke: white;
   -webkit-animation-delay: -2s;
   animation-delay: -2s;
 }
 
 .animation-container svg .text:nth-child(4n + 2) {
   stroke: white;
   -webkit-animation-delay: -4s;
   animation-delay: -4s;
 }
 
 .animation-container svg .text:nth-child(4n + 3) {
   stroke: white;
   -webkit-animation-delay: -6s;
   animation-delay: -6s;
 }
 
 .animation-container svg .text:nth-child(4n + 4) {
   stroke: white;
   -webkit-animation-delay: -8s;
   animation-delay: -8s;
 }
 
 @-webkit-keyframes text {
   100% {
     stroke-dashoffset: -500;
   }
 }

 /* NAME STYLE */
 .mainName-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;

  position: relative;
  top: 500px;
 }

 .mainName-title {
   color: white;
   font-size: 40px;
   font-weight: 200;
 }